<%- include('../partials/header.ejs') %>
<title>Event Page</title>
<link rel="stylesheet" href="/css/events/event.css">
<%- include('../partials/nav.ejs') %>

<main>
    <div class="event">
        <h2><%= event.title %></h2>
        <p><strong>Category:</strong> <%= event.category %></p>
        <div class="event-details">
            <img src="<%= event.image %>" alt="Event Image">
            <div class="event-highlights">
                <p><strong>Host:</strong> <%= event.host ? event.host.firstName + " " + event.host.lastName : "Unknown" %></p>
                <p><strong>Start Date and Time:</strong> <%= new Date(event.startDateTime).toLocaleString('en-US', { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }) %></p>
                <p><strong>End Date and Time:</strong> <%= new Date(event.endDateTime).toLocaleString('en-US', { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }) %></p>
                <p><strong>Location:</strong> <%= event.location %></p>
            </div>
        </div>
        <div class="event-description">
            <h3>Event Description</h3>
            <p><%= event.details %></p>
        </div>

        <div class="rsvp-section">
            <h3>RSVP</h3>
            <form action="/events/<%= event._id %>/rsvp" method="POST">
                <button type="submit" name="status" value="YES" class="rsvp-button yes">YES</button>
                <button type="submit" name="status" value="NO" class="rsvp-button no">NO</button>
                <button type="submit" name="status" value="MAYBE" class="rsvp-button maybe">MAYBE</button>
            </form>
            <p><strong>Total RSVPs (YES):</strong> <%= rsvpCount %></p>
        </div>
    </div>
</main>

<%- include('../partials/footer.ejs') %>